@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Ubuntu:wght@400;500&display=swap');

body {
  background-color: white;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.15em;
  line-height: 1.5em;
  background-color: #9d9e93;
}

h1.header {
  font-family: 'Lora', serif;
  color: #000000;
  margin-top: 100px;
}

a {
  font-weight: 500;
}
a.on {
  color: #2A3D5E;
}
a.nav:link, a.nav:visited {
  color: #6e572c;
  text-decoration: none;
}
a.nav:hover {
  color: red;
  text-decoration: underline;
}

}

ul {
  width: 800px;
  padding: 20px;
  margin: 0px auto 0px auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
li {
  display: inline;
  margin: 0px 15px;
}
img.main {

  display:block;
  margin: 0 auto;
  width: 800px;
  height: 100px;
}
img.me {
  padding-bottom: 10px;
  padding-right: 10px;
}

.aboutme {
  width: 800px;
  display: inline;
}
.main_article {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  text-align: center;

}
#page {

  max-width: 1000px;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
#iframe {
  max-width: 600px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
#navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;
  background-color: #1B1A18 ;
}

